/*All*/
* {
    text-decoration: none;
    color: black;
}

/*Header*/
#header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#header img {
    width: 30%;
}

#header div {
    width: 30%;
    margin: auto;
}

/*Load*/
.loading {
    font-size: xx-large;
    color: lightgray;
}

/*LangSelector*/
.langSelector button{
    width: 30%;
    height: 30%;
    margin: 1%;
    border: solid black 2px;
    border-radius: 20%;
    background-color: lightsteelblue;
}

.langSelector button:hover {
    background-color: grey;
}

/*Pokedex*/
.pokedex{
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2vh;
}

/*ChangeBar*/
.changeBar {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 2%;
}

.changeBar div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1%;
    height: 100%;
    width: 100%;
}

.changeBar img{
    width: 20%;
    height: 20%;
    margin: auto;
}

.changeBar input{
    margin: 1%;
    height: 100%;
}

/*Profil*/
.pokemonProfil {
    background-color: antiquewhite;
    border-radius: 15px;
    margin: 2%;
    padding: 1%;
}

.pokemonProfil > div{
    display: flex;
    justify-content: space-between;
}

.pokemonProfil h1 {
    text-align: center;
}

.pokemonProfil .type p{
    font-size: xx-large;
}

.attribut {
    width: 50%;
}

.pokemonProfil table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
    border-radius: 10px;
    width: 50%;
}

.pokemonProfil th {
    font-size: x-large;
    border-bottom: solid 2px black;
}

.pokemonProfil tr {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 0.5%;
}

/*Box*/
.pokemonBox {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 15%;
    height: 10%;
    margin: 0.8%;
    border-radius: 2%;
}

.pokemonBox > p {
    align-self: flex-start;
    padding-left: 2vh;
    font-size: small;
}

.pokemonBox h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.pokemonBox img {
    width: 65%;
    height: 65%;
    align-self: center;
}

/*Type*/
.type {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.type p {
    margin-top: 0;
    margin-bottom: 0.5vh;
    font-weight: bold;
    text-align: center;
}

/*SearchBar*/
.searchBar{
    display: flex;
    justify-content: center;
}

.searchBar input{
    width: 90%;
    height: 50%;
    padding: 1%;
    align-self: center;
    border-radius: 10px;
    font-size: x-large;
}