#header {
    display: flex;
    justify-content: space-between;
}

#header img {
    width: 30%;
}

#header div {
    width: 30%;
}

.loading {
    font-size: xx-large;
    color: lightgray;
}

.langSelector button{
    width: 30%;
    height: 30%;
    margin: 1%;
    border: solid black 2px;
    border-radius: 20%;
    background-color: lightsteelblue;
}

.langSelector button:hover {
    background-color: grey;
}

.pokedex{
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
}

.pokemon {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 15%;
    height: 10%;
    border-radius: 2%;
}

.pokemon > p {
    align-self: flex-start;
    padding-left: 2vh;
    font-size: small;
}

.pokemon h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.pokemon img {
    width: 65%;
    height: 65%;
    align-self: center;
}

.type {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.type p {
    margin-top: 0;
    margin-bottom: 0.5vh;
    font-weight: bold;
    text-align: center;
}

.searchBar{
    display: flex;
    justify-content: center;
}

.searchBar input{
    width: 90%;
    height: 50%;
    padding: 1%;
    align-self: center;
    border-radius: 10px;
    font-size: x-large;
}