.fire {
    background-color: red;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.water {
    background-color: blue;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.grass {
    background-color: green;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.flying {
    background-color: lightblue;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.normal {
    background-color: lightgray;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.bug {
    background-color: greenyellow;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.poison {
    background-color: purple;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.ground {
    background-color: burlywood;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.rock {
    background-color: lightsalmon;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.electric {
    background-color: yellow;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.fairy {
    background-color: pink;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.fighting {
    background-color: brown;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.steel {
    background-color: grey;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.psychic {
    background-color: palevioletred;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.ice {
    background-color: lightcyan;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.dragon {
    background-color: darkblue;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.ghost {
    background-color: darkslateblue;
    border: solid 1px black;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}

.dark {
    background-color: black;
    border: solid 1px black;
    color: white;
    border-radius: 10% / 10%;
    padding: 1vh;
    width: 9vh;
    text-align: center;
}